<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= live_title_tag assigns[:page_title] || "GEMS" %>
    <meta name="title" content="GEMS: Music Sequencer">
    <meta name="description" content="A minimalist Global Editable Music Sequencer. ">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://gems.nathanwillson.com/">
    <meta property="og:title" content="GEMS: Music Sequencer">
    <meta property="og:description" content="A minimalist Global Editable Music Sequencer. ">
    <meta property="og:image" content="https://gems.nathanwillson.com/images/banner.png">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://gems.nathanwillson.com/">
    <meta property="twitter:title" content="GEMS: Music Sequencer">
    <meta property="twitter:description" content="A minimalist Global Editable Music Sequencer. ">
    <meta property="twitter:image" content="https://gems.nathanwillson.com/images/banner.png">
    <%= csrf_meta_tag() %>
    <link rel="apple-touch-icon" href="/images/favicon/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/favicon-152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/images/favicon/favicon-167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/favicon-180.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body class="dark">
    <%= @inner_content %>
  </body>
</html>
