<div class="control-global">
  <div>
    <button
      class="control-btn"
      phx-throttle="500"
      phx-click={JS.show(to: "#reset-modal")}
    >
      Clear Matrix
    </button>
  </div>
  <GEMSWeb.Components.ModeSwitch.button />
  <%= if private_room?(@topic) do %>
    <a
      class="control-btn"
      href={Routes.room_path(GEMSWeb.Endpoint, :new, %{s: toggle_size(@size)})}
    >
      <%= "#{toggle_size(@size)}-GRID" %>
    </a>
  <% end %>
</div>